
div.data-input-container {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: 100%;
  textarea.data-input {
    width: 50em;
    height: 10em;
  }
}

div.data-output-container {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: 100%;
  div.data-output {
    width: 50em;
    height: 15em;
  }
}

// vi: se ts=2 sw=2 et:
