
div.data-input-container {
  margin-top: 5em;
  margin-left: 1em;
  margin-right: 10em;
  width: 50%;
  textarea.data-input {
    width: 50em;
    height: 30em;
  }
}

div.data-output-container {
  margin-top: 5em;
  margin-left: 35em;
  margin-right: 4em;
  width: 100%;
  div.data-output {
    width: 50em;
    height: 15em;
  }
}

// vi: se ts=2 sw=2 et:
